.App {
  text-align: center;
}



.soccerField{
  width: 100%;
}

.App-header {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Player1 {
  position: absolute;
  top: 620px;
  width: 80px;
  height: 80px;
}

.Player2 {
  position: absolute;
  top: 500px;
  right: 280px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player3 {
  position: absolute;
  top: 500px;
  right: 500px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player4 {
  position: absolute;
  top: 500px;
  right: 700px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player5 {
  position: absolute;
  top: 500px;
  right: 900px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player6 {
  position: absolute;
  top: 370px;
  right: 700px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player7 {
  position: absolute;
  top: 370px;
  right: 500px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player8 {
  position: absolute;
  top: 330px;
  right: 900px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player9 {
  position: absolute;
  top: 330px;
  right: 280px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player10 {
  position: absolute;
  top: 240px;
  right: 700px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Player11 {
  position: absolute;
  top: 240px;
  right: 500px;
  width: 80px;
  height: 80px;
  background: transparent;
}

.Icon {
  font-size: 3em;
  margin-right: 0em;
}
